/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "../../node_modules/vue-slick-carousel/dist/vue-slick-carousel-theme.css";
@import "../../node_modules/vue-slick-carousel/dist/vue-slick-carousel.css";
/* purgecss end ignore */
@import "tailwindcss/utilities";

@responsive {
  .yellow-background-xl {
    background-image: linear-gradient(120deg, #ffeba1 0%, #ffeba1 100%);
    background-repeat: no-repeat;
    background-size: 439px 60%;
    background-position: 3% 64%;
  }

  .yellow-background-md {
    background-image: linear-gradient(120deg, #ffeba1 0%, #ffeba1 100%);
    background-repeat: no-repeat;
    background-size: 248px 80%;
    background-position: 1% 65%;
  }

  .yellow-background-xs {
    background-image: linear-gradient(120deg, #ffeba1 0%, #ffeba1 100%);
    background-repeat: no-repeat;
    background-size: 367px 83%;
    background-position: 1% 65%;
  }

  .yellow-background {
    background-image: linear-gradient(120deg, #ffeba1 0%, #ffeba1 100%);
    background-repeat: no-repeat;
    background-size: 206px 80%;
    background-position: 1% 65%;
  }
}

@font-face {
  font-family: 'Futura PT';
  font-style: light;
  font-weight: 300;
  src: url(/assets/fonts/FuturaPTLight.woff) format("woff");
}

@font-face {
  font-family: 'Futura PT';
  font-style: medium;
  font-weight: 500;
  src: url(/assets/fonts/FuturaPTMedium.woff) format("woff");
}

@font-face {
  font-family: 'Futura PT';
  font-style: extrabold;
  font-weight: 800;
  src: url(/assets/fonts/FuturaPTExtraBold.woff) format("woff");
}